/* PAGE BACKGROUNDS AND LAYOUT */

.coverpage, .work, .cv {
  background-color: #51CBCE;
  padding: 40px;
}

.about, .embarassing, .contact {
  background-color: #fff;
  padding: 40px;
}

.testimonial {
  background-color: beige;
  padding: 40px;
}

.tile {
  padding-top: 40px;
}

body {
  margin: 0;
  font-family: Arial;
  font-size: 17px;
}

.column {
  text-align: center;
}

/* COVERPAGE VIDEO */

#header-content-box{
  display:inline-block;
  position:absolute;
  z-index:300000;
}

#coverpage-container {
  height: 200px%;
  overflow: hidden;
}


/* FOOTER VIDEO */
#footer_container {
  position: absolute;
  width: 100%;
  height: 20px;
  z-index: 300000;
  text-align: center;
}

#footer_vid {
  width: 100%;
  height: 80px;
  overflow: hidden;
}


video {
  object-fit: cover;
  top: 100%;
  position: relative;
  transform: translateY(100%);
}

/* #content_box{
  position:relative;
} */

#footer_content {
  margin-top: 20px;
  max-height: 60px;
  width: 60px;
  position:absolute;
  z-index:300000;
}


/* FONTS AND LETTERING */
.title {
  padding-bottom: 25px;
}

/* PAGE ELEMENTS */

img {
  text-align: center;
}
