/* PAGE BACKGROUNDS AND LAYOUT */

.coverpage, .work, .cv {
  background-color: #51CBCE;
  padding: 40px;
}

.about, .embarassing, .contact {
  background-color: #fff;
  padding: 40px;
}

.testimonial {
  background-color: beige;
  padding: 40px;
}

.tile {
  padding-top: 40px;
}

/* .column {
  text-align: center;
} */

/* COVERPAGE VIDEO */
#coverpage_container {
  position: relative;
  width: 100%;
  z-index: 300000;
  text-align: center;
  height: calc(100vh + 100px)
}

#vid_coverpage_container {
  position: absolute;
  overflow: hidden;
}

#coverpage_vid {
  width: 100%;
  /* overflow: hidden; */
  object-fit: cover;
  top: 20%;
  position: relative;
  transform: translateY(100%);
}

#coverpage_content {
  z-index:300000;
  position:absolute;
  padding-left: 100px;
  text-align: left;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

#coverpage_text {
  text: black;
}

/* FOOTER VIDEO */
#footer_container {
  position: absolute;
  width: 100%;
  height: 20px;
  z-index: 300000;
  text-align: center;
}

#vid_footer_container {
  height: 150px;
  overflow: hidden;
}

#footer_vid {
  width: 100%;
  height: 80px;
  overflow: hidden;
  object-fit: cover;
  top: 10%;
  position: relative;
  transform: translateY(60%);
}

#footer_content {
  margin-top: 20px;
  max-height: 60px;
  width: 60px;
  position:absolute;
  z-index:300000;
}


/* FONTS AND LETTERING */
.title {
  padding-bottom: 25px;
}

/* .is-horizontal-center {
  justify-content: center;
} */

/* PAGE ELEMENTS */

img {
    position: relative;
    left: -50%;
}

figure {
    display: inline-block;
    position: relative;
    right: -50%;
}

.description {
  padding: 10px;
  text-align: justify;
}
/* .tile.is-child {
  background-color: blue;
  padding: 40px;
  margin-left: 40px!important;
  max-width: 50%;
} */
